asttokens==2.4.1
awscli==1.22.34
bcrypt==4.1.3
blinker==1.8.2
botocore==1.23.34
certifi==2024.2.2
chardet==4.0.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.4
command-not-found==0.3
cryptography==3.4.8
dbus-python==1.2.18
decorator==5.1.1
distro==1.7.0
distro-info==1.1+ubuntu0.1
docutils==0.17.1
exceptiongroup==1.2.0
executing==2.0.1
Flask==3.0.3
Flask-Bcrypt==1.0.1
Flask-Cors==5.0.0
Flask-DebugToolbar==0.15.1
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.2.1
forex-python==1.8
greenlet==3.0.3
httplib2==0.20.2
idna==3.6
importlib-metadata==4.6.4
iniconfig==2.0.0
ipython==8.22.2
itsdangerous==2.2.0
jedi==0.19.1
jeepney==0.7.1
Jinja2==3.1.4
jmespath==0.10.0
keyring==23.5.0
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
MarkupSafe==2.1.5
matplotlib-inline==0.1.6
more-itertools==8.10.0
netifaces==0.11.0
oauthlib==3.2.0
olefile==0.46
packaging==24.0
parso==0.8.3
pexpect==4.9.0
Pillow==9.0.1
pluggy==1.5.0
prompt-toolkit==3.0.43
psycopg2-binary==2.9.9
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.4.8
Pygments==2.17.2
PyGObject==3.42.1
PyJWT==2.3.0
pyparsing==2.4.7
pytest==8.2.0
python-apt==2.4.0+ubuntu2
python-dateutil==2.8.1
PyYAML==5.4.1
requests==2.31.0
roman==3.3
rsa==4.8
s3transfer==0.5.0
SecretStorage==3.3.1
simplejson==3.19.2
six==1.16.0
SQLAlchemy==2.0.30
stack-data==0.6.3
systemd-python==234
tomli==2.0.1
traitlets==5.14.2
typing_extensions==4.11.0
ubuntu-advantage-tools==8001
ufw==0.36.1
unattended-upgrades==0.1
urllib3==2.2.1
wadllib==1.3.6
wcwidth==0.2.13
Werkzeug==3.0.3
WTForms==3.1.2
zipp==1.0.0
